<div class="row mainContent">
  <div class="col-md-12">
    <h4>A little about myself:</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p>As you can probably guess, my name is Adam Hire. I've spent nearly every day of my life since childhood on a computer. I became enthralled by computers in second grade when my teacher introduced me to AOL by giving me a quick tour of how to check and send an e-mail. The buzzing and beeping sound the modem made will forever be an important nostalgiac piece of my past. My parents bought an HP desktop soon after, and I found myself playing games, surfing the web endlessly, and tinkering with the Windows operating system.</p>
  </div>

  <div class="col-md-4">
    <p>Life wasn't much different in high school, when I continued to spend most of my time indoors on a computer. The more I used them, the more I desired to understand their inner workings. A few friends of mine from EverQuest, a game I had played, introduced me to the art of macros. Macros were shortcuts that users could create to perform multiple actions with just one keystroke. The automated process of firing multiple abilities gave me a rush, and soon after discovering them I was writing and contributing my own macros! Looking back now, I realize that I was programming even back then.</p>
  </div>

  <div class="col-md-4">
    <p>These days I try to spend most of my time with my family. In the spring and fall, you'll find me camping around northern Michigan and fishing in the Great Lakes. I'm not afraid to go out during the winter to ice fish either, so if you're ever looking for a partner let me know!</p>

    <img src="imgs/me.jpg" class="img-rounded center-block" alt="me">

  </div>

</div>
