<div class="row mainContent">
  <div class="col-md-12">
    <h4>A little about myself</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p>As one would guess, my name is Adam Hire. I've spent nearly every day of my life since I was a child on a computer. I became enthralled by computers in second grade. My teacher introduced AOL, yes - I remember AOL, and gave us a quick tour of how to check and send an e-mail. The sound from the modem buzzing and beeping will forever be one of the most nostalgiac pieces of my past. My parents soon bought an HP desktop not long after, and I found myself playing games, breaking and fixing my parents beloved Windows operating system, and surfing the web for endless entertainment and beauty.</p>
  </div>

  <div class="col-md-4">
    <p>Life wasn't much different throughout highschool. Most of my time was spent indoors on a computer. The more I used them, the more I desired to understand the inner workings. A few friends from a game I had played, EverQuest, introduced me into the art of creating macros. Macros were shortcuts that users could create to perform multiple actions with just one keystroke. The automated process of firing multiple abilities gave me such excitement. Soon after, I was writing and contributing my own macros. Looking back now, I was programming.</p>
  </div>

  <div class="col-md-4">
    <p>These days, I try to spend most of my time with the family. Camping around northern Michigan and fishing the Great Lakes is where you will find me during the fall and spring. I'm not afraid to go out during the winter to ice fish, so if you're ever looking for a partner - let me know!</p>

    <img src="imgs/me.jpg" class="img-rounded center-block" alt="me">

  </div>

</div>
