<div class="row mainContent">
  <div class="col-md-12">
    <h4>The story so far...</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <p>About a year ago, I had an experience that changed my life. A friend of mine introduced HTML and CSS to me while we were discussing ideas to pass time and stay busy during the upcoming winter. Lo and behold, a simple start on <a href="https://teamtreehouse.com/" target="#_blank">Team Treehouse</a> pulled me into a world of discovery.</p>
  </div>

  <div class="col-md-3">
    <p>After completing the first course, building a basic photo gallery, I quickly took to the trusty internet in search of schools and programs that could teach me these skills. Hands on experience is what I wanted, and hands on experience is what I had found at <a href="www.grandcircus.co/" target="#_blank">Grand Circus, Detroit</a>.</p>
  </div>

  <div class="col-md-3">
    <p>Over the course of eight weeks, I was bombarded with an intense amount of information. The instructor was amazing. He would take his seat in the front of class and perform magic with lines of letters and numbers. HTML and CSS basics, using Bootstrap to make sites responsive and mobile friendly, JavaScript for interaction with the browser, jQuery for those sweet shortcuts, Angular(this powerful beast), and Git to manage my projects and builds.</p>
  </div>

  <div class="col-md-3">
    <p>Once the lessons were taught, our labs were completed, and our final projects had been demoed - it was time to start scribing the next chapter of my life. Two months after my class, I was back at <a href="www.grandcircus.co/" target="#_blank">Grand Circus, Detroit</a>. This time, I was no longer the student, but an assistant to the instructors. Students came to me for all sorts of help ranging from structuring their first if/else if statements, explaining the various loops, and showing them the ropes when it came to awesome tools such as Gulp and Git. </p>
  </div>
</div>
