<div class="row mainContent">
  <div class="col-md-12">
    <h4>Some of my projects</h4>
  </div>
</div>

<div class="row projectRow">
  <div class="col-md-9">
    <img src="imgs/prepmeprofile.jpg" class="img-responsive center-block" alt="prepProf">
  </div>
  <div class="col-md-3">
    <p class="projectP">PrepMe was my final project for Grand Circus. I worked with three other students to create an application using Angular. The idea behind PrepMe came from a team member who was having trouble keeping track of all the companies they were looking at potentially applying to.</p>
  </div>
</div>

<div class="row projectRow">
  <div class="col-md-9">
    <img src="imgs/prepmeadd.jpg" class="img-responsive center-block" alt="prepAdd">
  </div>
  <div class="col-md-3">
    <p class="projectP">PrepMe allows users to create a profile with basic information. Their name, status, location, salary, skills, education -- so on so forth. Once a user created their account, they were able to create a list of companies they were interested in keeping their eye on. Information such as job description, the product, what type of skills were required for that position, as well as a company picture.</p>
  </div>
</div>

<div class="row projectRow">
  <div class="col-md-9">
    <img src="imgs/prepmecompany.jpg" class="img-responsive center-block" alt="prepComp">
  </div>
  <div class="col-md-3">
    <p class="projectP">A large amount of my side projects and contributions to material can be viewed on my GitHub. Please note, from February 2016 until August 2016, I could not add myself as a contributor to labs and projects that students were doing. I was, however, a consultant and guided them through the steps of planning, writing, debugging, and launching their code.</p>
  </div>
</div>
