<div class="row mainContent">
  <div class="col-md-12">
    <h4>These are some of the technologies I work with. You can also grab a copy of my resume, thanks from DropBox!</h4>
    <a href="https://www.dropbox.com/s/tq7yee1wgg20vso/AdamHire.pdf?dl=0"><p class="resumeLink">Click Here!</p></a>
  </div>
</div>

<div class="row picRow">
  <div class="col-md-4">
    <img src="imgs/html.png" class="img-responsive center-block" alt="html5">
  </div>
  <div class="col-md-4">
    <img src="imgs/css3.png" class="img-responsive center-block" alt="css3">
  </div>
  <div class="col-md-4">
    <img src="imgs/bootstrap.png" class="img-responsive center-block" alt="bootstrap">
  </div>
</div>

<div class="row picRow">
  <div class="col-md-4">
    <img src="imgs/javascript.png" class="img-responsive center-block" alt="javascript">
  </div>
  <div class="col-md-4">
    <img src="imgs/jquery.png" class="img-responsive center-block" alt="jquery">
  </div>
  <div class="col-md-4">
    <img src="imgs/angular.png" class="img-responsive center-block" alt="angular">
  </div>
</div>

<div class="row picRow">
  <div class="col-md-4">
    <img src="imgs/git.png" class="img-responsive center-block" alt="git">
  </div>
  <div class="col-md-4">
    <img src="imgs/grunt.png" class="img-responsive center-block" alt="grunt">
  </div>
  <div class="col-md-4">
    <img src="imgs/gulp-2x.png" class="img-responsive center-block" alt="gulp">
  </div>
</div>

<div class="row picRow">
  <div class="col-md-4">
    <img src="imgs/sass.png" class="img-responsive center-block" alt="sass">
  </div>
  <div class="col-md-4">
    <img src="imgs/windows.png" class="img-responsive center-block" alt="windows">
  </div>
  <div class="col-md-4">
    <img src="imgs/linux.png" class="img-responsive center-block" alt="linux">
  </div>
</div>

</div>
